<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #d3dedf;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span [ngClass]="{'text-danger': systemHealth?.status !=='UP'}"><i class="fa fa-server"></i> System:
          {{systemHealth?.status}}</span>&nbsp;&nbsp;
        <span [ngClass]="{'text-danger': systemHealth?.components?.mongo?.status !=='UP'}"><i
            class="fa fa-database"></i> DB: MongoDB - {{systemHealth?.components?.mongo?.details?.version}}</span>&nbsp;
        <span><i class="fa fa-hdd-o"></i> Disk Space:
          {{systemHealth?.components?.diskSpace?.details?.free}}</span>&nbsp;&nbsp;
        <span [ngClass]="{'text-danger': !systemCpu || systemCpu.measurements[0].value < 2}"><i
            class="fa fa-microchip"></i> Processors: {{!systemCpu ? "0" :
          systemCpu.measurements[0].value}}</span>&nbsp;&nbsp;
        <span><i class="fa fa-clock-o"></i> Up Time: {{processUpTime}}</span>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" style="margin-right: 20px;">
      <button (click)="onRefreshData()" class="btn btn-dark my-2 my-sm-0">
        Refresh Data
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row" style="margin-top: 30px;">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats bg-success">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center">
                <i class="fa fa-check-circle-o"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-title">200 Response</p>
                <p class="card-value">{{http200Traces?.length}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <i class="fa fa-refresh"></i>&nbsp;
          <span *ngIf="http200Traces?.length">{{http200Traces[0].timestamp | date:'short'}}</span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats bg-warning">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center">
                <i class="fa fa-ban"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-title">404 Response</p>
                <p class="card-value">{{http404Traces?.length}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <i class="fa fa-refresh"></i>&nbsp;
          <span *ngIf="http404Traces?.length">{{http404Traces[0].timestamp | date:'short'}}</span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats bg-info">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center">
                <i class="fa fa-exclamation-circle"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-title">400 Response</p>
                <p class="card-value">{{http400Traces?.length}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <i class="fa fa-refresh"></i>&nbsp;
          <span *ngIf="http400Traces?.length">{{http400Traces[0].timestamp | date:'short'}}</span>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats bg-danger">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center">
                <i class="fa fa-bug"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-title">500 Response</p>
                <p class="card-value">{{http500Traces?.length}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <i class="fa fa-refresh"></i>&nbsp;
          <span *ngIf="http500Traces?.length">{{http500Traces[0].timestamp | date:'short'}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row clearfix">
      <!-- Bar Chart -->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="height: 250px; width: 100%;">
          <canvas id="barChart" style="display: block; width: 100%; height: 100%;"></canvas>
        </div>
      </div>
      <!-- Pie Chart -->
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div style="height: 250px; width: 100%;">
          <canvas id="pieChart" style="display: block; width: 100%; height: 100%;"></canvas>
        </div>
      </div>
      <!-- #END# Pie Chart -->
    </div>
  </div>

  <div class="col-sm-6 col-md-6 col-lg-12" style="margin-top: 10px;">
    <h5 class="pull-left">HTTP Traces</h5>
    <button type="button" class="btn btn-dark btn-sm pull-right" style="margin-bottom: 10px;">
      <i class="fa fa-external-link" aria-hidden="true"></i>
      export to Excel</button>
    <table class="table table-hover text-center" id="httptrace-table">
      <thead>
        <tr>
          <th>Time Stamp</th>
          <th>Method</th>
          <th>Time Taken(ms)</th>
          <th>Status</th>
          <th>URI</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trace of traceList | paginate: { id: 'trace-list',
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: traceList?.length }" style="cursor: pointer;">
          <td (click)="onSelectTrace(trace)">{{trace?.timestamp | date:'medium'}}</td>
          <td (click)="onSelectTrace(trace)">{{trace?.request.method}}</td>
          <td (click)="onSelectTrace(trace)">{{trace?.timeTaken}}</td>
          <td (click)="onSelectTrace(trace)" [ngSwitch]="trace?.response.status">
            <span *ngSwitchCase=200 class="badge bg-success">{{trace?.response.status}}</span>
            <span *ngSwitchCase=400 class="badge bg-info text-dark">{{trace?.response.status}}</span>
            <span *ngSwitchCase=404 class="badge bg-warning text-dark">{{trace?.response.status}}</span>
            <span *ngSwitchCase=500 class="badge bg-danger">{{trace?.response.status}}</span>
            <span *ngSwitchDefault class="badge bg-primary">{{trace?.response.status}}</span>
          </td>
          <td (click)="onSelectTrace(trace)">{{trace?.request.uri}}</td>
          <td>
            <button (click)="onSelectTrace(trace)" class="btn btn-outline-info"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="text-center" id="trace-list" (pageChange)="page = $event" [maxSize]="10"
      [directionLinks]="true"></pagination-controls>

  </div>

  <!-- Button trigger modal -->
  <button hidden="true" type="button" id="trace-modal" class="btn btn-primary" data-toggle="modal"
    data-target="#trace-info-modal"></button>
</div>

<!-- Trace Information Modal -->
<div class="modal fade" id="trace-info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HTTP Trace Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body right-left-margin">
        <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#request">
              <i class="fa fa-sitemap"></i> Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#response">
              <i class="fa fa-sliders"></i> Response</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="request">
            <p>
              <strong>Time Stamp:</strong>
              {{selectedTrace?.timestamp | date:'medium'}}
            </p>
            <p>
              <strong>Time Taken(ms):</strong>
              {{selectedTrace?.timeTaken}}
            </p>
            <p>
              <strong>Request Method:</strong>
              {{selectedTrace?.request.method}}
            </p>
            <p>
              <strong>Remote Address:</strong>
              {{selectedTrace?.request.remoteAddress}}
            </p>
            <p>
              <strong>URI:</strong>
              {{selectedTrace?.request.uri}}
            </p>
            <p>
              <strong>Origin:</strong>
              {{selectedTrace?.request.headers['origin']}}
            </p>
            <p>
              <strong>User Agent (Web Client):</strong>
              {{selectedTrace?.request.headers['user-agent']}}
            </p>
          </div>

          <div class="tab-pane fade" id="response">
            <dl>
              <dt>Status:</dt>
              <dd>{{selectedTrace?.response.status}}</dd>
            </dl>
            <dl>
              <dt>Date:</dt>
              <dd>{{selectedTrace?.response.headers['Date']}}</dd>
            </dl>
            <dl>
              <dt>Content Type:</dt>
              <dd>{{selectedTrace?.response.headers['Content-Type']}}</dd>
            </dl>
            <p>
              <strong>Server Allowed Origins:</strong>
              {{selectedTrace?.response.headers['Access-Control-Allow-Origin']}}
            </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>