.bg-c-blue {
  background: linear-gradient(45deg, #007bff, #007bff);
}

.bg-c-green {
  background: linear-gradient(45deg, #28a745, #28a745);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #fd7e14, #fd7e14);
}

.bg-c-pink {
  background: linear-gradient(45deg, #dc3545, #dc3545);
}

.right-left-margin {
  margin-right: 20px;
  margin-left: 20px;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .numbers {
  font-size: 2em;
}

.card-stats .card-body {
  padding: 15px 15px 0px;
}

.card-stats .card-body .numbers {
  text-align: right;
  font-size: 2em;
}

.card-stats .card-body .numbers p {
  margin-bottom: 0;
}

.card-stats .card-body .numbers .card-title {
  color: #fff;
  font-size: 20px;
  line-height: 1.4em;
}

.card-stats .card-body .numbers .card-value {
  color: #fff;
}

.card-stats .card-footer {
  padding: 0px 15px 15px;
}

.card-stats .card-footer {
  color: #fff;
}

.card-stats .icon-big {
  font-size: 3em;
  min-height: 64px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-stats .icon-big i {
  line-height: 80px;
  color: #fff;
}

.card .card-footer {
  background-color: transparent;
  border: 0;
}
